<template>
  <div class="b-viewer-bookmarks-list-item-form">
    <form class="b-viewer-form"
          method="post"
          @submit.prevent="post">

      <div class="b-viewer-form-control-colors">
        <label class="b-viewer-form-control-color"
               v-for="color of colors">
          <input name="color"
                 type="radio"
                 :value="color"
                 v-model="bookmark.color">
          <span :style="{'border-color': color}"></span>
        </label>
      </div>

      <label class="b-viewer-form-control">
        <span class="b-viewer-form-control-label">Название</span>
        <input ref="bookmark_title"
               v-model="bookmark.title"
               v-focus>
      </label>

      <label class="b-viewer-form-control">
        <span class="b-viewer-form-control-label">Описание</span>
        <textarea v-model="bookmark.description"
                  rows=5></textarea>
      </label>

      <div class="b-viewer-controls">
        <button class="b-viewer-control-button">Сохранить</button>

        <button class="b-viewer-control-button"
                type="button"
                @click="remove">Удалить</button>
      </div>

      <button class="b-viewer-form-close"
              type="button"
              @click="close">x</button>
    </form>
  </div>
</template>

<script>
  import throttle from 'throttle-debounce/throttle'
  import debounce from 'throttle-debounce/debounce'
  import object_value from '../helpers/object_value'

  export default {
    props: {
      bookmark: {
        type: Object,
        required: true
      }
    },
    computed: {
      colors() {
        return this.$store.state.bookmark_colors
      }
    },
    methods: {
      post() {
        let obj = {
          _id: this.bookmark._id,
          color: this.bookmark.color,
          title: this.bookmark.title,
          description: this.bookmark.description
        }

        this.$store.dispatch('update_bookmark', obj)
      },
      remove() {
        if ( confirm('Удалить закладку?') ) {
          this.$store.dispatch('delete_bookmark', this.bookmark._id)
        }
      },
      close() {
        this.$store.commit('set_current_bookmark', null)
      }
    }
  }
</script>