<template>
  <div class="b-viewer-notes"">
    <label class="b-viewer-form-control">
      <span class="b-viewer-form-control-label">Заметка</span>

      <div class="b-viewer-form-control-select">
        <select v-model="selected" open>
          <option value=null
          disabled>Выберите заметку</option>
          <option v-for="note of notes"
                  :key="note._id"
                  :value="note._id">{{note.title || '[Без названия]'}}</option>
        </select>
      </div>
    </label>

    <viewer__notes__item v-for="note of notes"
                         v-if="current_note(note._id)"
                         :key="note._id"
                         :note="note" />
  </div>
</template>

<script>
  import viewer__notes__item from './viewer__notes__item.vue'

  export default {
    components: {
      viewer__notes__item
    },
    computed: {
      selected: {
        get() {
          return this.$store.state.current_note
        },
        set(value) {
          this.$store.commit('set_current_note', value)
        }
      },
      notes() {
        return this.$store.state.user.notes
      }
    },
    methods: {
      current_note(_id) {
        return this.$store.state.current_note === _id
      }
    }
  }
</script>