<template>
  <div class="b-viewer-title">
    <em v-if="book.author">{{book.author}}</em> {{book.title}}
  </div>
</template>

<script>
  export default {
    computed: {
      book() {
        return this.$store.state.book
      }
    }
  }
</script>