<template>
  <div class="b-viewer-print">
    <div class="b-viewer-overlay"
         @click.prevent="close"></div>

    <div class="b-viewer-control-modal">
      <form class="b-viewer-form"
            method="post"
            @submit.prevent="post">

        <div class="b-viewer-form-row">
          <div class="b-viewer-form-control">
            <div class="b-viewer-form-control-label">Лимит (10&nbsp;%)</div>
            <div class="b-viewer-form-control-value">{{max_allowed_amount}}&nbsp;стр.</div>
          </div>
          <div class="b-viewer-form-control">
            <div class="b-viewer-form-control-label">Напечатано</div>
            <div class="b-viewer-form-control-value">{{printed}}&nbsp;стр.</div>
          </div>
          <div :class="['b-viewer-form-control', allowed_amount_is_exceed ? 'error' : '']">
            <div class="b-viewer-form-control-label">Осталось</div>
            <div class="b-viewer-form-control-value">{{allowed_amount}}&nbsp;стр.</div>
          </div>
        </div>

        <p>Выберите страницы для печати</p>

        <div class="b-viewer-form-row">
          <label class="b-viewer-form-control">
            <span class="b-viewer-form-control-label">От</span>
            <input type="number"
                   v-model.number="first"
                   min="1"
                   :max="max_first"
                   v-focus>
          </label>

          <label class="b-viewer-form-control">
            <span class="b-viewer-form-control-label">До</span>
            <input type="number"
                   v-model.number="last"
                   :min="min_last"
                   :max="max_last">
          </label>

          <div :class="['b-viewer-form-control', allowed_amount_is_exceed ? 'error' : '']">
            <template v-if="total > 0">
              <div class="b-viewer-form-control-label">Вы выбрали</div>
              <div class="b-viewer-form-control-value">{{total}}&nbsp;стр.</div>
            </template>
          </div>
        </div>

        <div class="b-viewer-controls">
          <button class="b-viewer-control-button"
                  :disabled=is_disabled>Сформировать файл</button>

          <button v-if="link_to_pdf === 'waiting'"
                  key="link_to_pdf"
                  class="b-viewer-control-button b-viewer-control-button_dark"
                  disabled>Формируем...</button>

          <button v-else-if="link_to_pdf === 'error'"
                  key="link_to_pdf"
                  class="b-viewer-control-button b-viewer-control-button_dark"
                  disabled>Ошибка</button>

          <a v-else-if="link_to_pdf"
             key="link_to_pdf"
             :href="link_to_pdf"
             class="b-viewer-control-button b-viewer-control-button_dark"
             target="_blank">Открыть</a>
        </div>

        <button class="b-viewer-form-close"
                type="button"
                @click="close">x
        </button>
      </form>
    </div>
  </div>
</template>

<script>
  import throttle from 'throttle-debounce/throttle'
  import debounce from 'throttle-debounce/debounce'
  import object_value from '../helpers/object_value'

  export default {
    data() {
      return {
        first: 1,
        last: null
      }
    },
    watch: {
      first(val, oldVal) {
        if (val < 1) {
          this.first = 1
        }

        if (val > this.max_first) {
          this.first = this.max_first
        }

        if (this.last < val) {
          this.last = val
        }
      },
      last: {
        handler(val, oldVal) {
          if (val < this.first) {
            this.last = this.first
          }

          if (val > this.max_first) {
            this.last = this.max_first
          }
        },
        immediate: true
      }
    },
    computed: {
      pages_amount() {
        let pages = object_value(this, '$store.state.book.pages', [])
        return pages.length
      },
      printed() {
        return this.$store.state.user.limits.printed_pages
      },
      max_allowed_amount() {
        return Math.round( this.$store.state.user.limits.printed_pages_allowed * this.pages_amount )
      },
      allowed_amount() {
        let result = this.max_allowed_amount - this.printed
        return result > 0
          ? result
          : 0
      },
      max_first() {
        return this.pages_amount
      },
      min_last() {
        return this.first
      },
      max_last() {
        return this.max_first
      },
      total() {
        let last = (
          typeof this.last !== "undefined"
          && this.last > 0
          && this.last > this.first
        )
          ? this.last
          : this.first

        return last + 1 - this.first
      },
      allowed_amount_is_exceed() {
        return this.total > this.allowed_amount
      },
      is_disabled() {
        return this.total < 1 || this.allowed_amount_is_exceed
      },
      link_to_pdf() {
        return this.$store.state.link_to_pdf
      }
    },
    methods: {
      post() {
        let first_page_number = this.first
        let last_page_number  = this.last
        let total             = this.total

        this.$store.dispatch('run_print', {
          first_page_number,
          last_page_number,
          total
        })
      },
      close() {
        this.$store.commit('set_show_print', null)
        this.$store.commit('set_link_to_pdf', null)
      }
    }
  }
</script>