<template>
  <div class="b-viewer-thumbnail">
    <div :class="['b-viewer-thumbnail-image', is_current ? 'current' : '']"
         :style="bg"
         @click="set_current_page_number"></div>
    <div class="b-viewer-thumbnail-number">{{ page_number }}</div>
  </div>
</template>

<script>
  import mixin from './mixin__viewer__pages__item'
  import object_value from '../helpers/object_value'

  export default {
    mixins: [mixin],
    data() {
      return {
        name: "thumbnails"
      }
    },
    computed: {
      bg() {
        return this.viewed
          ? "background-image: url('" + object_value(this, 'page.thumbnail_image_src') + "')"
          : ""
      }
    }
  }
</script>