<template>
  <div class="b-viewer-thumbnails-wrap">
    <div class="b-viewer-thumbnails" v-if="pages.length" key="thumbnails">
      <viewer__thumbnails__item
          v-for="page in pages"
          :key="page.page_number"
          :page="page"
      />
    </div>
    <div class="b-viewer-thumbnails_empty" v-else key="thumbnails">
      [Empty]
    </div>
  </div>
</template>

<script>
  import mixin from './mixin__viewer__pages'
  import viewer__thumbnails__item from './viewer__thumbnails__item.vue'

  export default {
    mixins: [mixin],
    components: {
      viewer__thumbnails__item
    },
    props: {
      pages: {
        type: Array,
        required: true
      }
    },
    data() {
      return {
        name: "thumbnails"
      }
    }
  }
</script>