<template>
  <div class="b-viewer-pages-wrap">
    <div class="b-viewer-pages"
         v-if="pages.length">
      <viewer__pages__item
          v-for="page in pages"
          :key="page.page_number"
          :page="page"
      />
    </div>
    <div class="b-viewer-pages viewer-pages_empty" v-else>
      [Empty]
    </div>
  </div>
</template>

<script>
  import mixin from './mixin__viewer__pages'
  import viewer__pages__item from './viewer__pages__item.vue'

  export default {
    mixins: [mixin],
    components: {
      viewer__pages__item
    },
    props: {
      pages: {
        type: Array,
        required: true
      }
    },
    data() {
      return {
        name: "pages"
      }
    }
  }
</script>