<template>
  <div class="b-viewer-message">
    <div class="b-viewer-message-content">
      <div class="b-viewer-message-content-inner">
        <h2>Авторизация</h2>
        <p>Страница перезагрузится через {{countdown}} с.</p>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        countdown: window.viewer_variables.api.auth_countdown || 30
      }
    },
    mounted() {
      this.run_countdown()
    },
    watch: {
      countdown(val, oldVal) {
        if (val < 1) {
          setTimeout(() => {
            console.log('reload')
            window.location.reload(false)
          }, 1000)
        }
      }
    },
    methods: {
      run_countdown() {
        setInterval(() => {
          if (this.countdown > 0) {
            this.countdown--
          }
        }, 1000)
      }
    }
  }
</script>