<template>
  <div class="b-viewer-wrap">
    <template v-if="is_authorised">
      <viewer v-if="book" key="book" />

      <div class="b-viewer-loading" v-else key="book">
        Загружаем информацию о книге...
      </div>

    </template>

    <viewer__auth_false v-else />
  </div>
</template>

<script>
  import viewer from './viewer.vue'
  import viewer__auth_false from './viewer__auth_false.vue'

  export default {
    components: {
      viewer,
      viewer__auth_false
    },
    mounted() {
      // Get auth status
      this.$store.dispatch('get_auth_status')

      let interval = window.viewer_variables.api.auth_countdown || 30

      setInterval(() => {
        this.$store.dispatch('get_auth_status')
      }, interval * 0.9 * 1000)

      // Load data
      this.$store.dispatch('load_data')
    },
    computed: {
      is_authorised() {
        return this.$store.getters.is_authorised
      },
      book() {
        return this.$store.getters.book
      }
    }
  }
</script>