// rem setup
// 0.1rem == 1px
// We could use 6.25% but Webkit has minimun font size value around 9-12px.
html
  font-size: 62.5% // 10px

body
  font-size: 140% // 140% of 10px ~ 14px, understood by all browsers
  font-size: 1.4rem // 1.4 * 10px ~ 14px, understood by all major browsers and IE9+

$size_max_width_outer = 128rem
$size_max_width_content = 114rem