//@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700|PT+Serif+Caption|PT+Serif:400,400i&subset=cyrillic'

ff_pt_serif()
  font-family: 'PT Serif', serif

ff_pt_serif_caption()
  font-family: 'PT Serif Caption', serif

ff_open_sans()
  font-family: 'Open Sans', sans-serif

letter-spacing($count = 1)
  letter-spacing: (0.0625em * $count)

.no-wrap
  white-space: nowrap

$text_inherit()
  font-family: inherit
  font-size: inherit
  line-height: inherit
  color: inherit

.b-text_inherit
  $text_inherit()

.text-center
  text-align: center

$text_base()
  font-size: 1.4rem
  line-height: (20/14)

$text_link()
  color: $color_link
  text-decoration: none

  &:hover
    text-decoration: underline

$text_link_sm()
  ff_open_sans()
  font-size: 1rem
  line-height: 1
  font-weight: 700
  text-transform: uppercase
  letter-spacing(1.8)

$text_link_m()
  ff_open_sans()
  font-size: 1.4rem
  line-height: (20/14)
  font-weight: 600
  text-transform: uppercase
  letter-spacing(1.4)

$text_link_m_resp()
  $text_link_sm()

  +min(tablet_from)
    $text_link_m()

$text_h1()
  ff_pt_serif()
  font-size: 2.4rem
  line-height: 1
  font-weight: normal
  color: #A171A0

  +min(tablet_from)
    font-size: 3.2rem

  +min(desktop_from)
    font-size: 4rem

$text_h5()
  ff_pt_serif()
  font-style: italic
  font-size: 1.5rem
  line-height: 1
  font-weight: normal
  color: #333333

body
  ff_open_sans()
  $text_base()
  color: $color_text_dark

a
  $text_link()

p
  $text_base()
  margin: 0

  &:not(:last-child)
    margin-bottom: 1rem