$color_button_border = #d1d7db
$z_viewer(z = 0)
  z-index: 100 + z

.b-viewer
  max-width: 124rem
  height: 100%
  margin: 0 auto
  padding: 0 3.2rem
  box-sizing: border-box
  flex: 1
  display: flex
  flex-direction: column

  &-wrap
    background: #2D3762
    height: 100%
    overflow: hidden

  &-message
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

    &-content
      background: $color_background_light
      padding: 1.6rem

      &-inner
        padding: 1rem
        border: 0.1rem solid darken($color_border, 25%)

        &.error
          border-color: $color_error

          &, p
            color: $color_error

        &, p
          font-size: 1.2rem

        h2
          font-size: 1.6rem
          //font-weight: normal

        p, h2
          margin: 0

          &:not(:last-child)
            margin-bottom: 0.4rem

  &-loading
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    color: $color_text_inverted

  &-title
    font-weight: bold
    color: $color_white
    padding: 1rem 0

    em
      margin-right: 1rem

  &-header
    box-sizing: border-box
    width: 100%
    display: flex
    //align-items: center
    background: $color_white
    padding: 1rem
    color: $color_text_dark
    $z_viewer(20)

  &-controls
    display: flex
    align-items: center
    margin: -0.5rem

    &:not(:last-child)
      padding-right: 1rem
      margin-right: 1.5rem
      border-right: 0.1rem solid lighten($color_border, 50%)

    > *
      margin: 0.5rem

  &-control
    &-input
      $button_reset()
      margin: 0.5rem
      padding: 0.3rem 0.8rem
      border: 0.1rem solid $color_button_border
      font-size: 1.2rem
      line-height: 1
      transition: all 0.3s

      &::placeholder
        color: lighten($color_text_dark, 35%)

      &:not([disabled])
        cursor: pointer

        &:hover,
        &:focus
          border-color: lighten($color_button_border, 50%)
          border-bottom-color: darken($color_button_border, 25%)

      &[disabled]
        opacity: 0.5

    &-button
      $button_reset()
      margin: 0.5rem
      padding: 0.4rem 0.8rem
      background: $color_white
      border: 0.1rem solid $color_button_border
      font-size: 1.2rem
      line-height: 1
      transition: all 0.3s
      
      &_dark
        background: darken($color_button_border, 50%)
        border-color: darken($color_button_border, 50%)
        color: $color_text_inverted

      &:not([disabled])
        cursor: pointer

        &:hover
          border-color: darken($color_button_border, 50%)

      &[disabled]
        opacity: 0.5


    &-modal
      &-wrap
        position: relative

      position: absolute
      top: 100%
      left: 0
      $z_viewer(100)
      width: 30rem
      padding: 1rem
      background: $color_background_light

      &.active
        $z_viewer(101)

    &-page
      &-button
        $button_reset()
        margin: 0.5rem
        width: 1.6rem
        height: 1.6rem
        border-radius: 999rem
        background: #e5ebf1
        border: 0.1rem solid $color_button_border
        transition: all 0.3s

        &:not([disabled])
          cursor: pointer

          &:hover
            border-color: darken($color_button_border, 50%)

        &[disabled]
          opacity: 0.5

        &_prev
          $background-image('../../images/icon-chevron-left.svg', center, auto)

        &_next
          $background-image('../../images/icon-chevron-left.svg', center, auto)
          transform: rotate(180deg)

      &-number
        &, &-input
          font-size: 1.2rem
          line-height: 1

        &-input
          text-align: right
          height: 1.8rem
          width: 3.8rem
          padding: 0//.4rem
          border: 1px solid #d3d5d4
          border-right-color: #e1e5e6
          border-bottom-color: #e1e5e6
          background: linear-gradient(to bottom, #e6ecf2, #d1d7dc)

          &[disabled]
            opacity: 0.5

  &-main
    flex: 1
    display: flex
    background: $color_white
    //padding: 1rem
    position: relative

  &-notes
    width: 30rem
    padding: 1rem
    background: $color_background_light

  &-bookmarks
    position: absolute
    top: 0
    right: 100%

    &-list-item
      position: relative
      $z_viewer(11)

      &.current
        $z_viewer(10)

      &-button
        $button_reset()
        padding: 0.4rem
        width: 100%
        min-width: 3.4rem
        background: #2D3762
        border: 0.1rem solid $color_button_border
        border-right: none
        text-align: center
        margin-bottom: 0.4rem
        color: $color_text_inverted
        transition: all 0.3s
        position: relative

        &:not([disabled])
          cursor: pointer

          &:hover
            border-color: lighten($color_button_border, 35%)
            transform: scale(1.15)

        &[disabled]
          opacity: 0.5

      &-form
        position: absolute
        top: 0
        left: 100%
        $z_viewer(10)
        width: 30rem
        padding: 1rem
        background: $color_background_light

  &-thumbnails
    &-wrap
      flex-basis: 14rem
      position: relative

    position: absolute
    width: 100%
    height: 100%
    overflow-y: auto

  &-thumbnail
    &:not(:last-child)
      margin-bottom: 1rem

    &-image
      $s = 10rem
      width: $s
      height: ($s * 2.7 / 2)
      $box-shadow()
      margin: 0 auto
      cursor: pointer
      background: $color_white
      $background-image()
      transition: all 0.3s

      &.current,
      &:hover
        $box-shadow($c: $color_border_focus)

    &-number
      text-align: center

  &-pages
    &-wrap
      flex: 1
      position: relative
      background: #f6f6f6

    position: absolute
    width: 100%
    height: 100%
    overflow-y: auto

  &-page
    $s = 70rem
    width: $s
    height: ($s * 2.7 / 2)
    $box-shadow()
    box-sizing: border-box
    margin: 0 auto
    background: $color_white
    $background-image()

    &:not(:last-child)
      margin-bottom: 2rem

    &-iframe
      width: 100%
      height: 100%

  &-print
    $z_viewer(100)
    position: relative

  &-overlay
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 0
    background: rgba(0,0,0,0.33)

  &-form
    position: relative

    &-close
      $button_reset()
      padding: 0.4rem
      font-size: 1.6rem
      cursor: pointer
      position: absolute
      top: -0.4rem
      right: -0.4rem
      transition: all 0.3s

      &:hover
        transform: scale(1.3)

    &-row
      display: flex
      margin: -0.5rem

      > *
        flex: 1
        margin: 0.5rem

    &-note
      margin: 1rem 0
      padding: 0.6rem
      border: 0.1rem solid darken($color_border, 25%)

      &.error
        border-color: $color_error

        &, p
          color: $color_error

      &, p
        font-size: 1.2rem

      p
        margin: 0

        &:not(:last-child)
          margin-bottom: 0.4rem

    &-control
      display: block
      margin-bottom: 1rem

      &.error
        color: $color_error

      &-header
        display: flex
        align-items: baseline
        justify-content: space-between

      &-label
        display: block
        font-weight: normal
        font-size: 1.2rem
        margin-top: 0.2rem
        margin-bottom: 0.4rem

      &-value
        padding: 0.9rem 0 0.8rem
        border-bottom: 0.1rem solid $color_button_border
        color: $color_text_dark

        .error > &
          color: $color_error
          border-color: $color_error

      input,
      textarea
        box-sizing: border-box
        width: 100%
        padding: 1rem
        background: $color_white
        border: 0.1rem solid $color_button_border

      &-select
        position: relative
        box-sizing: border-box
        width: 100%
        padding: 0.8rem 1.8rem
        background: $color_white
        border: 0.1rem solid $color_button_border

        select
          $button_reset()
          width: "calc(100% + %s)" % (3 * 0.8rem)
          margin-left: -0.8rem
          cursor: pointer
          position: relative
          color: $color_text_dark

          box-shadow: none
          background-color: transparent
          background-image: none
          appearance: none

        &_dark
          background: darken($color_button_border, 50%)
          border-color: darken($color_button_border, 50%)

          select
            color: $color_text_inverted

        &::before
          content: ''
          $background-image('../../images/icon-chevron-left.svg', center, auto)
          position: absolute
          top: 50%
          margin-top: -0.4rem
          right: 1rem
          width: 0.8rem
          height: 0.8rem
          transform: rotate(-90deg)

      &-colors
        display: flex
        margin: -0.5rem

      &-color
        margin: 0.5rem
        font-weight: normal
        cursor: pointer

        input
          display: none

          &:checked ~ span
              border-width: 0.6rem

        span
          box-sizing: border-box
          position: relative
          display: inline-block
          width: 1.8rem
          height: 1.8rem
          border-radius: 999rem
          border: 0.9rem solid
          transition: all 0.3s

          &:hover
            transform: scale(1.15)

.b-viewer-control-button[disabled="disabled"][tooltip]
    position relative

.b-viewer-control-button[disabled="disabled"][tooltip]::before,
.b-viewer-control-button[disabled="disabled"][tooltip]::after
    text-transform none
    font-size .9em
    line-height 1
    user-select none
    pointer-events none
    position absolute
    display none
    opacity 0

.b-viewer-control-button[disabled="disabled"][tooltip]::before
    content ''
    border 5px solid transparent
    z-index 1001

.b-viewer-control-button[disabled="disabled"].b-viewer-control-button[disabled="disabled"][tooltip]::after
    content attr(tooltip)
    text-align center
    width 15em
    line-height 15px
    overflow hidden
    text-overflow ellipsis
    padding 1ch 1.5ch
    border-radius .3ch
    box-shadow 0 1em 2em -.5em rgba(0, 0, 0, 0.35)
    background #333
    color #fff
    z-index 1000

.b-viewer-control-button[disabled="disabled"][tooltip]:hover::before,
.b-viewer-control-button[disabled="disabled"][tooltip]:hover::after
    display block
    animation tooltips-vert 300ms ease-out forwards

.b-viewer-control-button[disabled="disabled"][tooltip='']::before,
.b-viewer-control-button[disabled="disabled"][tooltip='']::after
    display none !important

.b-viewer-control-button[disabled="disabled"][tooltip]::before
    top 100%
    border-top-width 0
    border-bottom-color #333

.b-viewer-control-button[disabled="disabled"][tooltip]::after
    top calc(100% + 5px)

.b-viewer-control-button[disabled="disabled"][tooltip]::before,
.b-viewer-control-button[disabled="disabled"][tooltip]::after
    left 50%
    transform translate(-50%, .5em)

@keyframes tooltips-vert {
  to {
    opacity 1
    transform translate(-50%, 0)
  }
}