{{> partials/html_head}}

<body>
<div class="b-layout">
  <div class="js-viewer"></div>
</div>
<script>
  // Set variables
  window.viewer_variables = {
    api: {
      addresses: {
        get_auth_status:           'https://vctr-viewer.getsandbox.com/user/auth/status',
        get_book:                  'https://vctr-viewer.getsandbox.com/book',
        get_user_data:             'https://vctr-viewer.getsandbox.com/user',
        bookmark_create:           'https://vctr-viewer.getsandbox.com/bookmark/create',
        bookmark_update:           'https://vctr-viewer.getsandbox.com/bookmark/update',
        bookmark_delete:           'https://vctr-viewer.getsandbox.com/bookmark/delete',
        note_create:               'https://vctr-viewer.getsandbox.com/note/create',
        note_update:               'https://vctr-viewer.getsandbox.com/note/update',
        note_delete:               'https://vctr-viewer.getsandbox.com/note/delete',
        post_book_print:           'https://vctr-viewer.getsandbox.com/book/print',
        post_book_search:          'https://vctr-viewer.getsandbox.com/book/search',
        user_limit_symbols_update: 'https://vctr-viewer.getsandbox.com/user/limit/symbols/update',
        user_limit_pages_update:   'https://vctr-viewer.getsandbox.com/user/limit/pages/update',
        create_favorite_book:      'https://vctr-viewer.getsandbox.com/favorit/create/',
        delete_favorite_book:      'https://vctr-viewer.getsandbox.com/favorit/delete/',
      },
      fetch_credentials: false,
      auth_countdown: 30
    },
    bookmark_colors: [
      '#606A95',
      '#454F7C',
      '#2D3762',
      '#000000'
    ]
  }
</script>
</body>
</html>